In [3]:
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy

import os
os.getcwd()

'/juice4/u/rohithk/blackbox-model-tracing'

In [6]:
INDEX = 300
path = f'./train_references/debug/tinystories_refmodels_{INDEX}.csv'
df = pd.read_csv(path)

In [7]:
df

,Unnamed: 0,order-0,pplx-0,order-1,pplx-1,order-2,pplx-2,order-3,pplx-3
0,0,2865,4.563487,1223,4.513329,8448,4.547101,9164,4.550434
1,1,7769,3.345121,7334,3.339600,3381,3.268568,3651,3.308793
2,2,139,3.347345,5078,3.339522,4256,3.291104,5580,3.324549
3,3,7713,4.858164,4139,4.927142,8592,4.869021,5811,4.917889
4,4,7996,4.331749,4706,4.362077,6614,4.364691,939,4.384235
...,...,...,...,...,...,...,...,...,...
9995,9995,7434,3.986917,7731,3.999887,6660,4.072888,2860,4.086923
9996,9996,5276,5.100501,5472,5.116537,1186,5.158606,7820,5.181477
9997,9997,8694,3.821386,269,3.824111,4340,3.795390,1799,3.798841
9998,9998,1322,3.904923,5871,4.072634,3748,4.056252,4829,3.893296
9999,9999,2322,4.397053,1822,4.383273,5304,4.421504,9466,4.391260

In [6]:
# Using model 4 as the reference

In [12]:
scipy.stats.spearmanr(np.argsort(df[f'order-{0}'])[:10000], df[f'pplx-{0}'][:10000] - df[f'pplx-{3}'][:10000])[1]

np.float64(9.904190331073836e-53)

In [9]:
scipy.stats.spearmanr(np.argsort(df[f'order-{0}'])[:10000], df[f'pplx-{0}'][:10000])[1]

np.float64(0.033856071209240765)

In [23]:
for i in range(8):
    print(scipy.stats.spearmanr(np.arange(10000), df[f'pplx-{0}'][10000*i:10000*(i+1)])[1])

0.10433806090957184
0.7065278213843637
0.5377533115064965
0.4275537617653944
0.6128127033495724
0.071332405594823
0.4028065221607594
0.7614985774939236

In [17]:
scipy.stats.spearmanr(np.argsort(df[f'order-{0}'])[:10000], df[f'pplx-{0}'][:10000])[1]

0.0025536674466633442